*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  line-height: 1.7;
}

/// desktop section
.desktop {
  height: 150vh;
  width: 100vw;

  padding-top: 4em;
  .container {
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 2em;
    img {
      border-radius: 20px;
    }
  }

  &-slider {
    height: 550px;
    overflow: hidden;
    position: relative;
    transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    figure {
      transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }
    .buttons {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
      width: 20%;
      padding: 2em 0em;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      z-index: 2555;
      button {
        padding: 0.5em 1em;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        transition: all 0.5s;
        display: grid;
        align-items: center;
        justify-content: center;
        &:hover {
          background-color: rgb(24, 160, 251);
          i {
            color: #fff;
          }
        }
        i {
          font-size: 1.5rem;
        }
        background-color: rgba(#fff, 0.3);
      }
    }
  }
}

img {
  max-width: 100%;
}

//// typography
.btn-primary {
  text-decoration: none;
  color: #fff;
  background-color: rgb(24, 160, 251);
  padding: 1em 2em;
  display: inline-block;
  margin-left: 14em;
  margin-top: 3em;
  border-radius: 20px;
  box-shadow: 3px 3px 6px rgba(#000, 0.25);
  transition: all 0.5s;
  &:hover {
    background-color: rgb(248, 39, 15);
  }
}

/// mobile
.mobile {
  width: 30%;
  height: 100vh;
  margin: 0 auto;

  &-block {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .btn-primary {
      margin-left: 0;
    }
  }
}
//nav
.nav {
  background-color: rgba(96, 255, 253, 0.32);
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &-block {
    i {
      display: inline-block;
      margin-right: 0.8em;
    }
  }
}
// slider
.slider {
  overflow-x: hidden;
  width: 100%;
  height: 300px;
  position: relative;

  .wrapper {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(8, 500px);
    width: 100%;
    height: 250px;
    grid-gap: 0;

    transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);

    img {
      width: 500px;
      height: 300px;
      display: block;
    }
  }
}

//buttons
.left {
  position: absolute;
  padding: 0.75em 1.5em;
  background: rgba(255, 255, 255, 0.87);
  border: none;
  top: 26%;
  margin-left: 1em;
  transition: all 0.5s;
  border-radius: 20px;
  cursor: pointer;
  &:hover {
    background-color: rgb(24, 160, 251);
    i {
      color: #fff;
    }
  }
}

.right {
  position: absolute;
  padding: 0.75em 1.5em;
  background: rgba(255, 255, 255, 0.87);
  border: none;
  top: 26%;
  right: 35.2%;
  margin-right: 1em;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 20px;
  cursor: pointer;
  &:hover {
    background-color: rgb(24, 160, 251);
    i {
      color: #fff;
    }
  }
}

////
.detail {
  width: 70%;
  margin: 0 auto;
  padding: 4em;
}
